{% extends 'base.html' %}
{% block title %}eventAIde{% endblock %}

{% block content %}


<section class="hero-section">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <img src="/static/images/eventAide.svg" alt="EventAIde Logo" class="logo-img">
      </div>
      
      <div class="slash">
        <h1>\</h1>
      </div>

      <div class="tagline">
        <h1>EventAIde</h1>
        <p>Your One-Stop Solution to Events</p>
      </div>
    </div>
</section>


<div class="container-fluid text-light p-3 text-center">
    <h1 class="text-pink mb-4">Ongoing Events</h1>
    <div class="d-flex justify-content-end">
        <div class="input-group" style="width: 300px;">
            <span class="input-group-text bg-light border-0"><img src="/static/images/search.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top"></span>
            <input type="text" class="form-control bg-light border-0" placeholder="Search" id="searchInput" onkeyup="searchEvents()">
        </div>
    </div>
</div>

    <div class="row">
        {% for event in published_events %}
        <a href="{{ url_for('customer.view_event_details', event_id=event.event_id) }}" class="col-12 col-sm-6 col-md-4 mb-4 text-decoration-none">
        <div>
            <div class="card bg-pink text-dark event-card">
                {% if event.cover_photo %}
                <img src="{{ url_for('static', filename=event.cover_photo) }}" class="card-img-top" alt="Event Cover Photo">
                {% else %}
                <img src="static\images\default.png" class="card-img-top" alt="Default ">
                {% endif %}
                
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <div class="text-end">
                            <p class="mb-0">{{ event.start_date.strftime("%b %d") }}</p>
                            <p class="mb-0">{{ event.end_date.strftime("%b %d") }}</p>
                        </div>
                    </div>
                    <span class="badge">{{ event.status }}</span>
                </div>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>

<script>
function searchEvents() {
  var input = document.getElementById("searchInput");
  var filter = input.value.toUpperCase();
  var cards = document.getElementsByClassName("event-card");
  for (var i = 0; i < cards.length; i++) {
    var header = cards[i].querySelector(".card-header");
    var txtValue = header ? (header.textContent || header.innerText) : "";
    cards[i].style.display = (txtValue.toUpperCase().indexOf(filter) > -1) ? "" : "none";
  }
}
</script>


{% endblock %}