{% extends 'base.html' %}
{% block title %}eventAIde{% endblock %}

{% block content %}
<div class="container">
    {% for event in published_events %}

    <div class="card mt-3">
        <div class="card-header">
            {{ event.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ event.description }}</h5>
            <p class="card-text">Venue: {{ event.venue }}</p>
            <p class="card-text">Start Date: {{ event.start_date }}</p>
            <p class="card-text">End Date: {{ event.end_date }}</p>
            <p class="card-text">Status: {{ event.status }}</p>
            <p class="card-text">Created At: {{ event.created_at }}</p>
            <p class="card-text">Updated At: {{ event.updated_at }}</p>
                   
        </div>
    </div>

    {% endfor %}
</div>


{% endblock %}